output/
stimuli/**/*.jpg
stimuli/**/*.JPG
stimuli/**/*.jpeg
stimuli/**/*.JPEG
stimuli/**/*.png
stimuli/**/*.PNG
stimuli/**/*.bmp
stimuli/**/*.BMP
stimuli/**/*.tif
stimuli/**/*.tiff
stimuli/**/*.gif
Stimuli_list_*.txt
runData_*.txt
runInfo_*.txt
__pycache__/
*.pyc
.venv/
*.zip
.DS_Store
